<%- contentFor('page') %>

<% if (typeof user==='undefined' || user.status==='Anonymous') { %>
<p>Only exclusive-members can be admins...provided they know the password.</p>
<% } else { %>
<% if (user.status==='Exclusive-member') { %>
  <% if (typeof errors==='undefined') { %>
<form method="post">
  <div class="form-group">
    <label for="adminPassword">Admin password:</label>
    <input type="password" class="form-control" id="adminPassword" name="adminPassword" required>
  </div>
  <button type="submit" class="form-submit">Submit</button>
</form>
<% } else { %>
  <p>You simply don't know the password, you have no reason to be here.</p>
<%- include('./partials/errors-list') %>
<% } %>
<% } else { %>
<p>Remember, with great power comes great responsibility.</p>
<p>You can delete posts now but it doesn't mean that you have to.</p>
<% } %>
<% } %>