<%- contentFor('page') %>

<% if (!locals.user) { %>
<p>How did you even get here?</p>
<% } else { %>
<form method="post">
  <div class="form-group">
    <label for="postTitle">Title:</label>
    <input
      type="text"
      name="postTitle"
      id="postTitle"
      class="form-control"
      placeholder="Hello World"
      value="<%= !locals.post ? '' : post.title %>"
      required
    />
    <label for="comment">Comment:</label>
    <textarea style="resize: vertical;"
      rows="10"
      name="comment"
      id="comment"
      class="form-control"
      placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed dictum justo, nec dapibus sem. Sed sit amet arcu nec leo ultrices placerat. Aliquam sollicitudin quis ligula quis ullamcorper. Donec scelerisque condimentum turpis sed vestibulum. In hac habitasse platea dictumst."
      required
    >
<%= !locals.post ? '' : post.comment %></textarea
    >
  <button type="submit" class="form-submit">Submit</button>
  </div>
</form>
<% } %>
<%- include('./partials/errors_list') %>
