<%- contentFor('page') %>

<h1><%= message %></h1>
<h2><%= error.status %></h2>
<% if (error.status === 404) { %>
<p>Oops! This page does not exist!</p>
<% } else { %>
<p>Working on it, sorry!</p>
<% } %>