<%- contentFor('page') %>

<h1 style="text-align: center;"><%= title %></h1>
<% if (typeof user!=='undefined') { %>
<div style="display: flex; align-items: center; justify-content: space-between;">
    <h2>User:<span style="color: crimson;"> <%= user.fullname %></span> - Status: <span style="color: crimson;"> <%= user.status %></span></h2>
    <a href="/clubhouse/user/log-out">LOG OUT</a>
</div>
<% if (user.status==='Anonymous') { %>
    <a href="/clubhouse/user/join-the-club">Join the club</a>
<% } %>
<% if (user.status==='Exclusive-member') { %>
 <a href="/clubhouse/user/admin-page">Wanna join the admins?</a>
<% } %>
<% } else { %>
<p style="text-align: end;">Don't have an account? <a href="/clubhouse/user/sign-up">Sign up here!</a></p>
<p style="text-align: end;">Already have an account? <a href="/clubhouse/user/log-in">Log in here!</a></p>
<% } %>
<% if (typeof posts!=='undefined') { %>
<p>WiP</p>
<% } else { %>
<p>There are no posts!</p>
<% } %>