<%- contentFor('page') %>

<% if (!locals.user) { %>
<p>You're not even logged in and you wanna join the club? I don't think so.</p>
<% } else { %>
<% if (user.status==='Anonymous') { %>
<% if (!locals.errors) { %>
<form method="post">
  <div class="form-group">
    <label for="secretPassword"
      >What is the name of the first Lord of Cinder?</label
    >
    <input
      type="password"
      class="form-control"
      id="secretPassword"
      name="secretPassword"
      required
    />
    <button type="submit" class="form-submit">Submit</button>
  </div>
</form>
<% } else { %>
  <div class="gen-container">
    <p>You're not ready to join the club.</p>
  </div>
<%- include('./partials/errors_list') %>
<% } %>
<% } else { %>
  <div class="gen-container">
    <p>Welcome to the Club.</p>
    <p>Posts are no longer anonymous to you.</p>
  </div>
<% } %>
<% } %>
