<%- contentFor('page') %>

<% if (!locals.user) { %>
<p>You're not even logged in and you wanna join the club? I don't think so.</p>
<% } else { %>
<% if (user.status==='Anonymous') { %>
<% if (!locals.errors) { %>
<form method="post">
  <div class="form-group">
    <label for="secretPassword">What is the name of the first Lord of Cinder?</label>
    <input type="password" class="form-control" id="secretPassword" name="secretPassword" required>
  </div>
  <button type="submit" class="form-submit">Submit</button>
</form>
<% } else { %>
<p>You're not ready to join the club.</p>
<%- include('./partials/errors_list') %>
<% } %>
<% } else { %>
<p>Welcome to the Club.</p>
<p>Posts are no longer anonymous to you.</p>
<% } %>
<% } %>