<%- contentFor('page') %>

<% if (typeof user!=='undefined') { %>
<h2>Welcome back<span style="color: crimson;"> <%= user.fullname %></span></h2>
<% } else { %>
<form method="post">
  <div class="form-group">
    <label for="email">E-mail:</label>
    <input type="email" class="form-control" name="email" id="email" placeholder="johndoe@gmail.com" required/>
    <label for="password">Password:</label>
    <input type="password" autocomplete="current-password" class="form-control" name="password" id="password" required/>
  </div>
  <button class="form-submit" type="submit">Log in</button>
</form>
<%- include('./partials/errors_list') %>
<% } %>