html,
body {
  height: 100%;
  margin: 0;
  font:
    18px 'system-ui',
    Helvetica,
    Arial,
    sans-serif;
}

#content {
  display: grid;
  grid-template-rows: auto 100% auto;
  min-height: 100%;
}
a {
  color: rgb(70, 70, 255);
  transition: all ease-in-out 0.1s;
  text-decoration: none;
}
a:hover,
a:focus {
  color: crimson;
  font-weight: 600;
  outline: none;
}
header {
  text-align: center;
  border-bottom: 2px solid grey;
  background-color: lightseagreen;
}
header a {
  color: black;
}
header a:hover,
header a:focus {
  padding: inherit;
}

nav {
  display: flex;
  position: sticky;
  top: 0;
}

nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 100%;
  border-width: 0px 1px 2px 1px;
  border-style: solid;
  border-color: grey;
  color: black;
  background-color: antiquewhite;
}

#dynamic-page {
  padding: 25px;
}
#posts-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}
.user-post {
  border: 2px solid black;
  border-radius: 10px;
  padding: 15px;
}

.form-group {
  width: 100%;
}
.form-control {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 5px;
  margin-bottom: 15px;
  border: 2px solid;
  border-radius: 5px;
  font-size: 0.8rem;
}
.form-control:hover,
.form-control:focus {
  border: 2px solid lightseagreen;
  outline: none;
}

.form-submit {
  min-height: 30px;
  min-width: 80px;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  color: lightseagreen;
}
.form-submit:hover,
.form-submit:focus {
  background-color: lightseagreen;
  color: white;
  border-color: lightseagreen;
  outline: none;
}
.errors-list {
  color: crimson;
  font-weight: 600;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-top: 2px solid grey;
  background-color: lightseagreen;
}

.logo {
  height: 25px;
}
.pulse:hover {
  animation: pulse ease-in-out 2.75s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
